# SQLite

In [1]:
import sqlite3

# sqlite 데이터베이스 연결하기
dbPath='../Data/test.sqlite'
conn=sqlite3.connect(dbPath)

# 테이블을 생성하고 데이터 넣기
curs=conn.cursor()
curs.executescript(
    """
    DROP TABLE IF EXISTS items;
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
        );

        INSERT INTO items(name, price) VALUES('Apple', 800);
        INSERT INTO items(name, price) VALUES('Orange', 780);
        INSERT INTO items(name, price) VALUES('Banana', 430);
    """
)

# 위의 스크립트를 반영하려면
conn.commit()

In [17]:
# 데이터 추출하기
curs=conn.cursor()
curs.execute('select * from items')
item_list=curs.fetchall()

print(item_list)

[(1, 'Apple', 800), (2, 'Orange', 780), (3, 'Banana', 430)]

In [18]:
# 데이터 추가하기
curs=conn.cursor()
curs.execute(
    'insert into items (name, price) values(?,?)', ('오렌지', 12200)
)
conn.commit()   # commit을 해야 데이터에 저장. >> 불러올때는 commit 필요 없고 insert는 필요.

In [19]:
# 여러 데이터 연속으로 넣기
curs=conn.cursor()
data=[('Mango', 7700), ('Kiwi', 4000), ('Grape', 8700)]
curs.executemany('insert into items (name, price) values(?,?)', data)
conn.commit()

In [20]:
# 4000원~7000원 사이의 데이터 추출
curs=conn.cursor()

price_range=[4000, 7000]
curs.execute('select *from items where price between ? and ?', price_range)
item_list=curs.fetchall()

for it in item_list:
    print(it)

(6, 'Kiwi', 4000)

## MYSQL

In [1]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [13]:
import pymysql as mysql

In [24]:
# MySQL Connection
conn = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='qwer1234',
    db='education',
    charset='utf8'
)

#connection 으로 부터 Cursor 생성
curs = conn.cursor()

In [25]:
# SQL 문장
sql = 'select * from student'
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

(('0007', '김땡땡', '과과', None, None), ('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c001', '조조', '국문학과', '016-111', '경기'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박송명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '김상진', '890-5678', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [26]:
rowList = list(rows)
print(rowList)

[('0007', '김땡땡', '과과', None, None), ('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c001', '조조', '국문학과', '016-111', '경기'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박송명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '김상진', '890-5678', None), ('S006', '황정숙', '사학과', '678-9012', None)]

In [27]:
print(rowList[0])
print(rowList[0][1])

('0007', '김땡땡', '과과', None, None)
김땡땡

---
## insert data

In [44]:
# MySQL Connection
conn = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='qwer1234',
    db='education',
    charset='utf8'
)

#connection 으로 부터 Cursor 생성
curs = conn.cursor()

In [45]:
# sql 문장
sql = "insert into student(scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"

In [46]:
curs.execute(sql,('b001', '유비', '국문학과','010-111','서울'))
curs.execute(sql,('b001', '관우', '경영학과','010-111','동탄'))
curs.execute(sql,('b001', '장비', '컴퓨터공학','010-111','이매'))

conn.commit()

IntegrityError: (1062, "Duplicate entry 'b001' for key 'student.PRIMARY'")

In [47]:
# SQL 문장
sql = 'select * from student'
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

(('0007', '김땡땡', '과과', None, None), ('b001', '유비', '국문학과', '010-111', '서울'), ('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c001', '조조', '국문학과', '016-111', '경기'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박송명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '김상진', '890-5678', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [48]:
data = (
    ('c001','조조', '국문학과', '016-111', '경기'),
    ('c001','여포', '심리학과', '016-222', '경기'),
    ('c001','동탁', '경제학과', '016-333', '경기'),
)

In [49]:
# sql 문장
sql = "insert into student(scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"

In [50]:
# Insert 실행
curs.executemany(sql, data)
conn.commit()

InterfaceError: (0, '')

In [51]:
# SQL 문장
sql = 'select * from student'
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

InterfaceError: (0, '')

---
### select의 내용을 dataframe으로 보기

In [52]:
%pip install sqlalchemy

1121.77s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)

In [54]:
import pandas as pd
from sqlalchemy import create_engine

In [69]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1/education")
conn=engine.connect()

In [58]:
data = pd.read_sql_table('student', conn)
data

   scode sname   sdept    sphone saddress
0   0007   김땡땡      과과      None     None
1   b002    관우    심리학과   010-222       서울
2   b003    장비    경제학과   010-333       서울
3   c001    조조    국문학과   016-111       경기
4   c002    여포    심리학과   016-222       경기
5   c003    손견    경제학과   016-333       경기
6   d001   홍길동     수학과   017-111       광주
7   S001   박송명  컴퓨터공학과  123-4567     None
8   S002   최민국  컴퓨터공학과  234-5678     None
9   S003   이승호    국문학과  345-6789     None
10  S004   정수봉    국문학과  456-7890     None
11  S005   김상진     김상진  890-5678     None
12  S006   황정숙     사학과  678-9012     None

In [59]:
conn.close

In [70]:
column = ['sql','title']
poem = pd.read_csv("../Data/윤동주.csv")
poem.colums = column
poem.head()

/var/folders/1z/wqwl5n1552l1vkv_646ktfm00000gn/T/ipykernel_14219/2473944136.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  poem.colums = column

   Index         Title
0      0  하늘과 바람과 별과 시
1      1            서시
2      2           자화상
3      3            소년
4      4       눈 오는 지도

In [71]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1/poem")
conn = engine.connect()

In [72]:
poem.to_sql(name='poemtable', con=engine, if_exists='append', index=False)

94

In [73]:
data = pd.read_sql_table('poemtable', conn)
data

     Index         Title
0        0  하늘과 바람과 별과 시
1        1            서시
2        2           자화상
3        3            소년
4        4       눈 오는 지도
..     ...           ...
183     89     트루게네프의 언덕
184     90         달을 쏘다
185     91      별똥 떨어진 데
186     92     화원에 꽃이 핀다
187     93            종시

[188 rows x 2 columns]

---
## TinyDB
- NoSQL 문서형 데이터 베이스
- MongDB가 대표적이지만 MongoDB는 설치가 필요하다.

In [74]:
%pip install tinydb

2463.10s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Collecting tinydb
  Downloading tinydb-4.8.0-py3-none-any.whl.metadata (6.2 kB)
Downloading tinydb-4.8.0-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.8.0

In [77]:
# Library
from tinydb import TinyDB, Query, where

# 데이터베이스 연결하기
filepath = "../Data/tinydb.json"
db = TinyDB(filepath)

In [78]:
# 기존에 테이블이 있다면 제거하기 
db.drop_table('fruits')

In [79]:
# 테이블 생성하기
table = db.table('fruits')

In [80]:
# 테이블에 데이터 추가하기
table.insert(
    {
        'name' : 'Banana',
        'price' : 6000
    }
)
table.insert(
    {
        'name' : 'Orange',
        'price' : 12000
    }
)
table.insert(
    {
        'name' : 'Mango',
        'price' : 7000
    }
)

3

In [90]:
# 모든 테이블 추출하기
print(table.all())

[{'name': 'Banana', 'price': 6000}, {'name': 'Orange', 'price': 12000}]

In [87]:
# Orange 검색하기
item = Query()
res = table.search(item.name == 'Orange')
print('orange is', res[0]['price'])

orange is 12000

In [83]:
print(res)

[]

In [88]:
# 수정하기 
table.update({'price':8000}, item.name =="Mango")
res = table.search(item.name == 'Mango')
res

[]

In [89]:
#   삭제하기
table.remove(where('name') == 'Mango')
print(table.all())

[{'name': 'Banana', 'price': 6000}, {'name': 'Orange', 'price': 12000}]